@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-light:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb (30,190,214);
    --mainBorderColor-Dark:#2b3031;
    --mainBgColor-light:#131415;

    --mainTextColort:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-Dark);
    --mainBgColor:var(--mainBgColor);
}
*{
    font-family: 'Readux Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor-light)

}
body{
    background-color: var(--mainBgColor);
}
p, span li{
    color: red;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;

}
li{
    line-height: 1.9em;
}
#container--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapping--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height:  1em;
}

#profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#email{
    color:var(--mainTextColor-light)
}

#socials--list{
    display:flex;
    justify-content: space;
    column-gap: 1em;
    flex-wrap: wrap;
    transition: 0.3s;

}
#socials--list a{
    font-size: 0.9em;
    color:var(--secondaryTextColor)
}
#socials--list a:hover{
    color: var(--mainLinkColor);

}
#qualifications--list{
    list-style: none;
}
#wrapper--techstack__items{
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}
.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}